{
  "openapi": "3.0.0",
  "info": {
    "title": "Smart Learn API",
    "version": "1.0.0",
    "description": "API for the Smart Learn platform including contact form submissions and health checks."
  },
  "servers": [
    {
      "url": "https://home.smartlearn.education"
    }
  ],
  "paths": {
    "/api/healthz": {
      "get": {
        "summary": "Health check endpoint",
        "responses": {
          "200": {
            "description": "System is healthy"
          }
        }
      }
    },
    "/api/contact": {
      "post": {
        "summary": "Submit a contact inquiry",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "name",
                  "email",
                  "message"
                ],
                "properties": {
                  "name": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "service": {
                    "type": "string"
                  },
                  "message": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Email sent successfully"
          },
          "400": {
            "description": "Invalid form data"
          },
          "500": {
            "description": "Server configuration error"
          }
        }
      }
    },
    "/api/plugins": {
      "get": {
        "summary": "List available Moodle plugins",
        "responses": {
          "200": {
            "description": "List of plugins retrieved successfully"
          }
        }
      }
    },
    "/api/testimonials": {
      "get": {
        "summary": "List client testimonials",
        "responses": {
          "200": {
            "description": "List of testimonials retrieved successfully"
          }
        }
      }
    }
  }
}
